<%= form_with model: @user, local: true do |form| %>
 
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from being saved:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>

    <p>
    <%= form.label :matricula %><br>
    <%= form.text_field :matricula %>
  </p>
   
    <p>
      <%= form.label :cpf %><br>
      <%= form.text_area :cpf %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
   
  <% end %>
