<h1>Listing Users</h1>
<%= link_to 'New User', new_user_path %>
<hr>
<table>
  <tr>
    <th>Nome</th>
    <th>Matricula</th>
    <th>CPF</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.matricula %></td>
      <td><%= user.cpf %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Back', welcome_index_path %>