<h2>User</h2>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Matrícula:</strong>
  <%= @user.matricula %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>
<hr>

<h2>Adress</h2>


<%= link_to 'Edit', edit_user_path(@user) %> 
 
<%= link_to 'Back', users_path %>
