<h2>Book</h2>

<p>
  <strong>Título:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Autor:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Código:</strong>
  <%= @book.cod %>
</p>
<hr>

<%= link_to 'Edit', edit_book_path(@book) %> 
 
<%= link_to 'Back', books_path %>
