<%= form_with model: @reservation, local: true do |form| %>
 
    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@reservation.errors.count, "error") %> prohibited
          this reservation from being saved:
        </h2>
        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   

    <table>
    <tr>
      <th>Data Entrega</th>    
      <th>Usuário</th>    
      <th>Livro</th>   
    </tr>   
   
      <tr>
        <td> <%= form.text_field :data_entrega %></td>    
        <td> <%= form.collection_select(:user_id, User.all, :id, :name, :include_blank => true) %></td>    
        <td> <%= form.collection_select(:book_id, Book.all, :id, :title, :include_blank => true) %></td>        
      </tr>
  </table>   

  <p>
  <%= form.submit %>
</p>
  <% end %>
