<h1>Listing Reservations</h1>
<%= link_to 'New Reservation', new_reservation_path %>
<hr>
<table>
  <tr>
    <th>Data Entrega</th>    
    <th colspan="3"></th>
  </tr>
 
  <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.data_entrega %></td>
   
      <td><%= link_to 'Show', reservation_path(reservation) %></td>
      <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
      <td><%= link_to 'Destroy', reservation_path(reservation),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_path %>
