<h2>Reservation</h2>

<p>
  <strong>Data da Entrega:</strong>
  
  <%= @reservation.data_entrega %>
</p>
 

<%= link_to 'Edit', edit_reservation_path(@reservation) %> 
 
<%= link_to 'Back', reservations_path %>
